<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

  <header>
        <% include ../views/partials/_header %>
  </header>

<body>

<h3> Your URL: Short and Long </h3>

<p> <%= shortURL %> - <%= fullURL %>   </p>





</body>

</html>